/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*----------------------------------------   Other-styles   ----------------------------------------*/
.link-shadow {
  -webkit-text-shadow: 2px 2px 0 var(--accent-color-dark-theme);
  text-shadow: 2px 2px 0 var(--accent-color-dark-theme);
}

.title-decor {
  background-color: var(--accent-color-dark-theme);
  color: var(--main-color-dark-theme);
  font-size: var(--text-size-main);
  font-weight: var(--text-weight-title);
  height: min-content;
  line-height: 1.3em;
}

.title-text--weight-normal {
  font-weight: var(--text-weight-main);
}

/*----------------------------------------   Header   ----------------------------------------*/

.header {
  position: relative;
  display: grid;
  grid-template-rows: 228px 192px 228px;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 443px min-content 442px;
    grid-template-areas:
      'menu  menu'
      'title title'
      '. description';
  }
}

/*----------------------------------------   Header-menu   ----------------------------------------*/

@media (min-width: 768px) {
  .header__theme-menu {
    grid-area: menu;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 14px;
  justify-self: end;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  font-size: var(--text-size-main);
  border: none;
  outline: none;
  color: var(--accent-color-dark-theme);
  text-transform: lowercase;
  line-height: 1em;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color-dark-theme);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color-dark-theme);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color-dark-theme);
}

/*----------------------------------------   Header-title   ----------------------------------------*/

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color-dark-theme);
  font-weight: var(--text-weight-title);
  line-height: 82.5%;
  -webkit-text-shadow: 4px 4px 0 var(--accent-color-dark-theme);
  text-shadow: 4px 4px 0 var(--accent-color-dark-theme);
}

@media (min-width: 768px) {
  .header__title {
    transform: translateX(-20px);
    grid-area: title;
  }
}

@media (min-width: 768px) {
  .header__description {
    grid-area: description;
  }
}

/*----------------------------------------   Header-decor-elements   ----------------------------------------*/

.header__rec {
  position: absolute;
  right: 28px;
  top: 0;
  font-size: var(--text-size-main);
  color: var(--accent-color-dark-theme);
  font-weight: var(--text-weight-main);
}

.header__rec::after {
  content: '';
  position: absolute;
  top: 11px;
  right: -16px;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: #ff0070;
  box-shadow: 0 0 4px 5px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color-dark-theme);
  border-right: 1px solid var(--accent-color-dark-theme);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color-dark-theme);
  border-bottom: 1px solid var(--accent-color-dark-theme);
}

/*----------------------------------------   Page   ----------------------------------------*/

.page {
  background: var(--bg-image-page) center/cover no-repeat;
  background-attachment: fixed;
  padding: 10px;
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }
}

/*----------------------------------------   Main-section   ----------------------------------------*/

.section {
  margin-top: 50px;
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .section {
    margin-top: 80px;
    grid-template-columns: 236px 1fr;
  }
}

.section__title {
  color: var(--accent-color-dark-theme);
  font-size: var(--text-size-main);
  line-height: 1.3em;
}

@media (min-width: 768px) {
  .section__title {
    grid-row: 1 / -3;
  }
}

/*----------------------------------------   Section-card   ----------------------------------------*/

@media (min-width: 768px) {
  .card {
    grid-column: 2;
  }
}

.card__title h3 {
  font-size: var(--text-size-main);
}

.card__description {
  margin-top: 10px;
  font-size: var(--text-size-main);
  color: var(--description-color);
  line-height: 1.3em;
}

/*----------------------------------------   Wide-section   ----------------------------------------*/

.section__title-wide {
  grid-column: 1 / 3;
}

@media (min-width: 768px) {
  .section__title-wide {
    grid-column: 1 / 1;
  }
}

.section__card-wide {
  grid-column: 1 / 3;
}

.card__link:hover {
  border-bottom: 1px solid var(--description-color);
}

.card__link:focus-visible {
  outline: 1px solid var(--description-color);
}

/*----------------------------------------   Subtitle   ----------------------------------------*/

.card__subtitle-text {
  margin-bottom: 20px;
  font-weight: var(--text-weight-title);
  font-size: var(--text-size-main);
}

/*----------------------------------------   Gallery   ----------------------------------------*/

.gallery {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .gallery {
    margin-top: 80px;
  }
}

.gallery__images {
  display: grid;
  margin-top: 10px;
  gap: 10px;
}

@media (min-width: 768px) {
  .gallery__images {
    display: grid;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    grid-template-areas:
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
  }

  .sunset {
    grid-area: sunset;
  }

  .tape {
    grid-area: tape;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

.gallery__title-text {
  font-size: var(--text-size-main);
}

.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*----------------------------------------   Footer   ----------------------------------------*/

.footer {
  margin-top: 50px;
  position: relative;
  display: grid;
  justify-items: center;
  padding-top: 280px;
  padding-bottom: 270px;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 80px;
    padding-top: 442px;
    padding-bottom: 442px;
  }
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color-dark-theme);
  font-weight: var(--text-weight-title);
  line-height: 82.5%;
}
