/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color-dark-theme: #ff0070;
  --text-size-main: 18px;
  --text-weight-main: normal;
  --main-color-dark-theme: #000028;
  --text-weight-title: bold;
  --title-color-dark-theme: #db00ff;
  --text-size-title: 116px;
  --bg-image-page: url('../images/cover-image-dark.png');
  --description-color: #f1b2ce;
  --hover-color-dark-theme: rgba(255, 0, 112, 0.5);
}
